@font-face{
    font-family: Lato-Light;
    src: url(fonts/Lato/Lato-Light.ttf);
}
@font-face{
    font-family: Lato-Bold;
    src: url(fonts/Lato/Lato-Bold.ttf); 
}
@font-face{
    font-family: Lato-Hairline;
    src: url(fonts/Lato/Lato-Hairline.ttf); 
}
@font-face{
    font-family: Lato-Regular;
    src: url(fonts/Lato/Lato-Regular.ttf); 
}
@font-face{
    font-family: Lato-Italic;
    src: url(fonts/Lato/Lato-Italic.ttf); 
}



@font-face{
    font-family: "Signika-Regular";
    src: url("fonts/Signika/Signika-Regular.ttf");
}
@font-face{
    font-family: "Signika-Light";
    src: url("fonts/Signika_Negative/SignikaNegative-Light.ttf");
}

@font-face{
    font-family: "Signika-Bold";
    src: url("fonts/Signika/Signika-Bold.ttf");
}
@font-face{
    font-family: "Signika-SemiBold";
    src: url("fonts/Signika/Signika-SemiBold.ttf");
}


body{
    
    background-color:#EAEDF1;
    
}
p{
    font-family: "Lato-Regular";
    color: #33495F;

    font-size: 17.7px;
}
h1{
    font-family: "Signika-Regular";
    font-size: 28.35px;
    color: #33495F;
}

.account{
    float: left;
    background-color: white;
    margin: 0 auto;
    width: 435px;
    height: 270px;
    /*! border: 3px solid white; */
    /*! border-radius: 1px; */
}
.imgAndFullN{
    height: 190px;
}
.accountImg{
    margin: 35px 26px 28px;
    background: url("image/head/attributes/ava.png") no-repeat white 50% 50%;
    width: 147px;
    height: 147px;
    float: left;
}
.account h1{
    width: 200px;
    float: left;
    margin-left: 16px;
    margin-top: 77px;
}
.account p{
    float: left;
    margin-left: 16px;
    margin-top: -16px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.fastData{
    float: left;
    margin-top: 49px;
    /*! width: 450px; */
}

a{
    text-decoration: none;
    font-family: Lato-Regular;
    font-size: 14.53px;
}
.share{
    /*font-family: "Signika-Light";*/
}
.ans{
    background: url("image/head/attributes/checked.png") no-repeat #16C4EC 50.5% 32.7%;
    padding: 43px 31.5px 18px;
    color: white;
    
    
}
.country{
    background: url("image/head/attributes/country.png") no-repeat #FA5351 50% 30%;
    margin-left: -5px;
    padding: 43px 12.0px 18px;
    color: white;
}
.permis{
    background: url("image/head/attributes/drivingCategory.png") no-repeat #10CDC1 49.4% 32.9%;
    margin-left: -3.7px;
    padding: 43px 23.50px 18px 22px;
    color: white;
}
.smoke{
    background: url("image/head/attributes/smoke.png") no-repeat #33495F 50% 29%;
    margin-left: -8.9px;
    padding: 43px 35.6px 18px 38.6px;
    color: white;
}
/*Аккаунт описан сверху*/

.aboutMe{
    float: left;
    margin-left: 90px;
    background-color: white;
    width: 820px;
    height: 295px;
}
.descriptionContacts{
    width: 500px;
}
.aboutMe h1{
    float: left;
    width: 500px;
    padding: 45px 28px 0px;
    font-size: 36px;
    margin: 0px;
}
.descriptionContacts a{
    color: #16c4ec;
}
.descriptionContacts p{
    float: left;
    width: 430px;
    padding: 0px 30.5px;
    
    margin-top: 10.0px;
    line-height: 1.70;
    word-spacing: 5px;
    font-size: 17.50px;
    /*! font-family: "Lato-Light"; */
}

.contacts{
    width: 320px;
    float: right;
}

.contacts p{
    font-size: 22.50px;
    margin: 0px;
    padding: 16.90px 9px;
    font-family: Signika-Regular;
}
.contacts a{
    font-size: 22.50px;
    margin-top: 0px;
    padding: 16.90px 11px;
    font-family: Signika-Regular;
    color: #fa5351;
    letter-spacing: 2.0px;
}
.contacts hr{
    margin-top: 31px;
    width: 270px;
    margin-left: 12.5px;
}

.social{
    float: left;
    width: 550px;
    height: 60px;
}
.part{
    width: 30px;
    height: 30px;
    padding-left: 75px;
    padding-bottom: 20px;
}
.tw{
    background: url("image/head/social/tw.png") no-repeat white 50% 60%;
}
.ball{
    background: url("image/head/social/ball.png") no-repeat white 45% 60%;
}
.be{
    background: url("image/head/social/be.png") no-repeat white 48% 60%;
}
.inst{
    background: url("image/head/social/inst.png") no-repeat white 49% 60%;
}
.apricot{
    background: url("image/head/social/apricot.png") no-repeat white 48% 60%;
}
.in{
    background: url("image/head/social/in.png") no-repeat white 40% 60%;
}


#header{

    display: inline-block;  
    padding: 74px 72px 0px; 
}

/*Далее middle*/

ul{
    list-style: none;
}

.middle{
    padding: 15px 72px; 
}
.workHistory{
    width: 635px;
    margin-top: 18px;
    float: left;
}
.workHistframeParam{
    background-color: white;
    border: 0.0001px solid white;
    border-radius: 2px;
}

.secretVelvet{
    height: 340px
}
.workName{
    float: left;
    width: 635px;
    height: 100px;
}
.workName h1{
    float: left;
    font-family: "Signika-Light";
    font-size: 23px;
    margin: 0px;
    padding: 31.5px 0px 0px 23px;
}
.workName p{
    float: left;
    width: 400px;
    padding: 20px 12px 0px;
    color: #9ea7b4;
    margin-bottom: 2px;
}
.workName h2{
    float: left;
    margin: 0px;
    padding: 3px 23px;
    color: #04bca6;
    font-family: "Signika-Light";
    font-size: 20px;
    letter-spacing: -0.4px;
}

.listSV{
    color: #33495f;
    float: left;
    margin: 0px;
    padding: 2px 0px;
    line-height: 2;
    font-size: 16.1px;
    letter-spacing: 0.3px;
}
.listSV ul{
    padding: 
13px 0px 0px 30px; 
    margin: 0px 0px;
}


.listSV span{
    font-family: "Lato-Regular";
    
    padding-left: 4px;
}

.bottomCard{
    
    float: left;
    padding: 27px 10px 10px 30px;
}
.bottomCard p{
    float: left;
    padding: 12px 22px 12px 9px;
    margin: 0px;
    
    color: #9ea7b4;
    font-size: 15px;
}
.bottomCard img+p+img{
    margin: 1px 0px 0px 35.0px;
}

.bottomCard img{
    float: left;
    padding-top: 15px;
}
.bottomCard input{
    
    float: left;
    padding: 7.40px 26px 8px 28px;
    margin-left: 59px;
    color: white;
    border: 1px solid #16c4ec;
    border-radius: 3px;
    background-color: #16c4ec;
    margin-top: 3px;
    font-size: 16.4px;
    font-family: "Signika-Regular";
    letter-spacing: 0.3px;
}

/*cortix*/

.cortix{
    padding-top: -30px;
    height: 320px;
    margin-top: 35.5px;
}
.cortix .workName{
    
    height: 80px;
}
.cortix .workName h1{
    padding-top: 28px
}
.cortix .workName p{
        margin-top: 0px;
        padding-top: 33px;
        padding-left: 14px;
        margin-bottom: 3px;
}
.cortix h2{
    
    padding-top: 2px;
}
.cortix .bottomCard p + img{
    margin-left: 30px;
    margin-right: 7px;
}
.cortix .bottomCard input{
    
    margin-left: 70.5px;
    padding: 9px 58.5px 7px 58.0px;
}

/*Далее Ademe's код*/

.ademe{
    height: 169.5px;
    margin-top: 33px;
}
.ademe .workName h1{
    
    font-size: 24.0px;
    padding-top: 30px;
    padding-left: 23.5px;
}
.ademe .workName p{
    
    width: 460px;
    padding: 18px 7px 1.3px;
}
.ademe .workName h2{
    
    padding-top: 2px;
}
.ademe .bottomCard{
    
    padding: 9px 10px 10px 30px;
}
.ademe .bottomCard input{
    
    margin-left: 54px;
    padding: 9px 54px 7px 58px;
    font-size: 16.4px;
    letter-spacing: 0.3px;
    margin-top: 1px;
    background: #b0bbca;
    border-color: #b0bbca;
}

/*Далее Impec's код*/

.impecToonga{
    margin-top: 33.5px;
    height: 167.5px;
}
.impecToonga .workName h1{
    
    padding: 28.0px 0px 0px 24.0px;
    font-size: 24px;
    letter-spacing: -0.5px;
}
.impecToonga .workName p{
    
    padding: 17px 9px 0px;
    margin-bottom: 3px;
}
.impecToonga .workName h2{
    
    padding: 1.5px 23px; 
}
.impecToonga .bottomCard{
    
    padding: 6px 10px 10px 30px;
}
.impecToonga .bottomCard img + p + img{
    
    margin-left: 58px;
}
.impecToonga .bottomCard input{
    margin-left: 37px;
    padding: 9px 44px 7px 46px;
    font-size: 16.4px;
    letter-spacing: 0.43px;
    margin-top: 1px;
    background: #b0bbca;
    border-color: #b0bbca;
}

/*Далее вставка TimeScale*/

.timeScale{
    float: left;
    padding-top: 17px;
    padding-left: 1px;
}

/*Далее myAchievement's код*/

.myAchievement{
    
    float: left;
    width: 625px;
    margin-top: 16px;
    margin-left: 10px;
}
.myAchievframeParam{
    background-color: #dbe1e8;
    border: 0.001px solid #dbe1e8;
    border-radius: 3px;
}
/*Описание общих параметров*/
.myAchievframeParam .workName p{
    color: #7a8698;
    font-size: 15px;
    width: 500px;
}
.myAchievframeParam .bottomCard p{
    color: #33495f;
    font-size: 12.5px;
}
.myAchievframeParam input{
    background-color: #10cdc1;
}
.myAchievframeParam .bottomCard{
    padding: 8px 24px;
}


/*Далее yelp's код*/

.yelp{
    
    height: 172px;
}
.yelp .workName h1{
    
    padding: 31px 0px 0px 22px;
    letter-spacing: -1px;
}
.yelp .workName p{
    
    padding: 22px 0px 0px 13px;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}
.yelp .workName h2{
    padding: 2px 22px;
    
    color: #00b9d8;
    font-size: 17px;
    letter-spacing: -0.5px;
}
.yelp .bottomCard p{
    padding: 15px 32px 0px 8px;
}
.yelp .bottomCard img + p + img {
    
    margin: 2px 0px 0px 35px;
}
.yelp .bottomCard input{
    
    margin-left: 55px;
    padding: 7px 70px 9px 65px;
    margin-top: 4px;
    letter-spacing: -0.1px;
}
/*Далее QoQa's код*/
.qoqa {
    height: 170px;
    margin-top: 32px;
}
.qoqa .workName h1{
    padding: 30.5px 0px 0px 22px;
    letter-spacing: -0.7px;
}
.qoqa .workName p{
    padding: 21px 10px 0px;
    letter-spacing: 0.15px;
    margin-bottom: 6px;
}
.qoqa .workName h2{
    padding: 0px 22px 0px;
    font-size: 17px;
    color: #00b9d8;
}
.qoqa .bottomCard p{
    padding: 16px 9px;
}
.qoqa .bottomCard img + p + img {
    margin: 2px 0px 0px 58px;
}
.qoqa .bottomCard input {
    
    padding: 7.40px 66px 9px 63px;
    margin-left: 69px;
    letter-spacing: -0.05px;
}

/*Далее hr's код*/

.hr{
    
    margin-top: 23px;
}

/*Далее cefire's код*/

.cefire {
    
    height: 128px;
    margin-top: 28px;
}
.cefire .workName h1{
    padding: 29.0px 0px 0px 23px;
    letter-spacing: -1.1px;
}
.cefire .workName p{
    padding: 22px 11px 0px;
    width: 340px;
    letter-spacing: 0.13px;
    margin-bottom: 3px;
}
.cefire .workName h2{
    padding: 2px 22px 0px;
    font-size: 18px;
    letter-spacing: -0.91px;
}
.cefire .workName{
    height: 75.5px
} 
.cefire .bottomCard p{
    
    margin-top: 4px;
}
.cefire .bottomCard img + p + img{
    
    margin: 2px 0px 0px 46px;
}
.cefire .bottomCard p + img + p + img{
    
    margin: 1px 0px 0px 189.5px;
}
    /*Далее ecole's код*/
.ecole {
    margin-top: 32px;
    height: 130px;
}

.ecole .workName h1{
    
    padding: 29.5px 0px 0px 23.5px;
    letter-spacing: -1.165px;
}    

.ecole .workName p{
    
    width: auto;
    letter-spacing: 0.06px;
}    
  
.ecole .workName h2{
    padding: 3px 22px;
    font-size: 17px;
    letter-spacing: -0.535px;
}      
.ecole .workName{
    height: 73px 
}   
.ecole .bottomCard p{
    
    padding: 16px 22px 12px 9px;
    letter-spacing: -0.23px;
}
.ecole .bottomCard img + p + img {
    margin-left: 28px;
    margin-top: 2px;
}    
.ecole .bottomCard p + img + p + img {
    
    margin-left: 190px;
    margin-top: 1px;
}

/*Далее myHobbyAndAbilitys's код*/

.myHobbyAndAbilitys{
    
    height: 401px;
    background: white;
    margin-top: 34px;
}

/*Далее hobby's код*/    
    
.hobby{
    float: left;
}
.hobby p{
    font-size: 12.4px;
    margin-top: 6px;
}
.commonSize{
    width: 84.5px;
    padding: 16px 0 0 18px;
    float: left;
}
.hobby1 p{
    margin-left: 1.5px;
    letter-spacing: 0.2px;
}
.hobby2 p{
   
    margin-left: 9.5px;
    letter-spacing: 0.4px;
}
.hobby3 p{
   
    margin-left: 2.4px;
    letter-spacing: 0.9px;
}
.hobby4 p{
   
    margin-left: 0px;
    letter-spacing: 0.4px;
}
.hobby5 p{
    
    letter-spacing: 0.4px;
}
.hobby6 p{
    
    margin-left: 1.4px;
    letter-spacing: 0.9px;
}

/*Далее ability's код*/

.ability{
    float: left;
    width: 627px;
    height: 270px;
    margin-top: 20px;
}

/*Далее ProgresBars's код*/
    
.leftProgresBars{
    float: left;
    width: auto;
    height: auto;
}    
.rightProgresBars{
    float: right;
}   
    
    
progress{
    background-color: #dbe1e8;
    border: 0;
    height: 14px;
    border-radius: 6px;
    width: 270px;
}    
progress::-webkit-progress-bar {
    background-color: #10cdc1;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  
progress::-webkit-progress-value {
    background-color: #10cdc1;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  
progress::-moz-progress-bar {
    background-color: #10cdc1;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  


.rightProgresBars progress::-webkit-progress-bar {
    background-color: #10cdc1;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  
.rightProgresBars progress::-webkit-progress-value {
    background-color: #10cdc1;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  
.rightProgresBars progress::-moz-progress-bar {
    background-color: #16c4ec;
    border: 0;
    height: 14px;
    border-radius: 6px 0 0 6px;
}  

.commonAttribute{
    width: auto;
    height: 40px;
    margin: 11px 16px 15px 20px;
}
.ability p{
    margin: 0 0 0 0;
    font-size: 16px;
}
/*Далее footer's код*/
#footer{
    margin: 21px 450px;
}
#footer img{
    float: left;
}

#footer p{
    font-family: "Lato-Italic";
    color: #34495e;
    float: left;
    margin: 5px 19px 0 21.5px;
    font-size: 18px;
    letter-spacing: 0.56px;
}





   